<h1>Meal Count</h1>

<%= form_for @cook, url: cook_url(date: @cook.date), html: {method: :post} do |f| %>
  <div class="center">
    <%= f.label :date, "Date" %>
    <%= f.text_field :date, value: @cook.date, autocomplete: "off", class: 'date' %>
    
    <%= f.submit "Change Date" %>
    <br><br>
  </div>
<% end %>

<% meals = meal_count(@cook.date) %>

<h1 style="margin-top: 0;">Cook</h1>
<table>
  <tr>
    <td></td>
    <td><b>In</b></td>
    <td><b>Guests</b></td>
    <td><b>Early</b></td>
    <td><b>Late</b></td>
    <td><b>Total</b></td>
  </tr>
  <tr>
    <td><b>Lunch</b></td>
    <td class="center"><%= meals["LI"] %></td>
    <td class="center"><%= meals["LGuest"] %></td>
    <td class="center"><%= meals["LE"] %></td>
    <td class="center"><%= meals["LL"] %></td>
    <td class="center"><%= meals["LTotal"] %></td>
  </tr>
  <tr>
    <td><b>Dinner</b></td>
    <td class="center"><%= meals["DI"] %></td>
    <td class="center"><%= meals["DGuest"] %></td>
    <td class="center"><%= meals["DE"] %></td>
    <td class="center"><%= meals["DL"] %></td>
    <td class="center"><%= meals["DTotal"] %></td>
  </tr>
</table>

<h1>Crew</h1><br>
<table class="center">
  <tr>
    <td></td>
    <td><b>Set For</b></td>
    <td><b>Tables</b></td>
    <td><b>Extra Seats</b></td>
  </tr>
  <tr>
    <td><b>Lunch</b></td>
    <% lunch_meals = crew_meals(meals["LI"], meals["LGuest"], @crew_numbers.lunch_crew_num) %>
    <td class="center"><%= lunch_meals %></td>
    <td class="center"><%= crew_tables(lunch_meals) %></td>
    <td class="center"><%= crew_tables_remainder(lunch_meals) %></td>
  </tr>
  <tr>
    <td><b>Dinner</b></td>
    <% dinner_meals = crew_meals(meals["DI"], meals["DGuest"], @crew_numbers.dinner_crew_num) %>
    <td class="center"><%= dinner_meals %></td>
    <td class="center"><%= crew_tables(dinner_meals) %></td>
    <td class="center"><%= crew_tables_remainder(dinner_meals) %></td>
  </tr>
</table>
<p class="center" style="margin-top: 20px;">
  Set For: In + Guests - Crew<br>
  Crew: <%= @crew_numbers.lunch_crew_num %> for Lunch, <%= @crew_numbers.dinner_crew_num %> for Dinner<br>
  Table Capacity: <%= @crew_numbers.table_capacity %>
</p>

