<h1>Meal Count</h1>

<%= form_for @cook, url: cook_url(date: @cook.date), html: {method: :post} do |f| %>
  <div class="center">
    <%= f.label :date, "Date" %>
    <%= f.text_field :date, value: @cook.date, autocomplete: "off", class: 'date' %>
    
    <%= f.submit "Change Date" %>
    <br><br>
  </div>
<% end %>

<% meals = meal_count(@cook.date) %>

<table>
  <tr>
    <td></td>
    <td><b>In</b></td>
    <td><b>Early</b></td>
    <td><b>Late</b></td>
    <td><b>Total</b></td>
  </tr>
  <tr>
    <td><b>Lunch</b></td>
    <td class="center"><%= meals["LI"] %></td>
    <td class="center"><%= meals["LE"] %></td>
    <td class="center"><%= meals["LL"] %></td>
    <td class="center"><%= meals["LI"] + meals["LE"] + meals["LL"] %></td>
  </tr>
  <tr>
    <td><b>Dinner</b></td>
    <td class="center"><%= meals["DI"] %></td>
    <td class="center"><%= meals["DE"] %></td>
    <td class="center"><%= meals["DL"] %></td>
    <td class="center"><%= meals["DI"] + meals["DE"] + meals["DL"] %></td>
  </tr>
</table>
