<h1>FarmHouse Meal Sign Up</h1>

<%= form_for @meal, :url => {:action => "update"} do |f| %>
  <%= f.label :member_id, "Member ID:" %>
  <%= f.text_field :member_id, size: 4, required: true %>
  <br><br>

  <%= f.label :date %>
  <%= f.text_field :date, value: Date.today.to_date.strftime("%Y-%m-%d"), autocomplete: "off", class: 'date' %>
  <br><br>

  <%= f.label :lunch %>
  <%= f.select :lunch, options_for_select(Meal::LUNCH_TYPES) %>
  <%= f.label :lunch_qty, "Quantity" %>
  <%= f.number_field :lunch_qty, value: 1, min: 1 %>
  <br><br>

  <%= f.label :dinner %>
  <%= f.select :dinner, options_for_select(Meal::DINNER_TYPES) %>
  <%= f.label :dinner_qty, "Quantity" %>
  <%= f.number_field :dinner_qty, value: 1, min: 1 %>
  <br><br>

  <%= f.submit "Submit" %>
<% end %>
<div class="result"></div>

<script type="text/javascript">
  $("#meal_member_id, #meal_date").change(function() {
    $.get( "/meals_ajax/" + $("#meal_member_id").val() + "/" + $("#meal_date").val(), function( data ) {
      data
    });
  });
</script>