<div class="box navigation" style="margin-top: 10px;">
  <h3>
    <%= link_to "Admin Pages", techchair_path %> <br>
    <%= link_to "Members", members_path %> |
    <%= link_to "Menu", menu_list_path %> |
    <%= link_to "Crew", crew_numbers_edit_path %> |
    <%= link_to "Reset Meals", reset_meals_path %>  
  </h3>
</div>