<div class="box" id="navigation">
  <head>
    <link rel=”apple-touch-icon” href=”/AppleIcon.png”/>
    <link rel=”apple-touch-icon-precomposed” href=”/AppleIcon.png”/>
    <link rel="manifest" href="/manifest.json"/>
  </head>
  <h3>
    <%= link_to "Meal Sign Up", edit_meals_path %> | 
    <%= link_to "Late Plates", late_plates_path %> | 
    <%= link_to "Cook", cook_path %> | 
    <%= link_to "Treasurer", meals_path %><br>
    <%= link_to "Weekly Sign Up", weekly_meals_path %> | 
    <%= link_to "View Your Meals", meals_list_path %> | 
    <%= link_to "Menu", menu_path %>
  </h3>
</div>