<!DOCTYPE html>
<html>
  <head>
    <title>FH Meals</title>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>    
  </head>

  <body id="background">
    <div id="page-container">
      <div id="content-wrap">
        <%= render "layouts/header" %>
        <div class="box">
          <%= render 'layouts/flash' if flash.present? %>
          <%= yield %>
        </div>
      </div>
      <%= render "layouts/footer" %>
    </div>
    <script type="text/javascript">$(".date").flatpickr();</script>
  </body>
</html>
