<h1>Members List</h1>

<div class="center" style="display: contents;"><p style="margin-bottom: 15px;"><%= link_to "+ Add Member", new_members_path, class: "admin-link" %></p></div>

<% if @members.blank? %>
  <div class="center" style="display: contents;"><p>No Members</p></div>
<% else %>
  <table>
    <tr>
      <td><b>Member ID</b></td>
      <td><b>First Name</b></td>
      <td><b>Last Name</b></td>
      <td><b>Status</b></td>
      <td><b>Edit</b></td>
      <td><b>Delete</b></td>
    </tr>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.member_id %></td>
        <td><%= member.first %></td>
        <td><%= member.last %></td>
        <td><%= full_status_name(member.status) %></td>
        <td class="center"><%= link_to content_tag(:i, "", class: "fa fa-pencil"),  edit_members_path(id: member.id), style: "color: blue" %></td>
        <td class="center"><%= link_to content_tag(:i, "", class: "fa fa-trash"),  edit_members_path(id: member.id), style: "color: red", data: { confirm: "Are you sure you want to delete this member? (Not Implemented Yet)" } %></td>
      </tr>
    <% end %>
  </table>
<% end %>
