<h1>Members</h1>
<% new_member_count = @members.where(status: "N").count %>

<div class="center" style="display: contents;">
  <p style="margin-bottom: 15px;">
    <%= link_to "+ Add Member", new_members_path, class: "admin-link" %> | 
    <%= link_to content_tag(:i, " Mass Edit Members", class: "fa fa-pencil admin-link"), members_mass_edit_path %>
  </p>

  <% if new_member_count > 0 %>
    <p style="margin-bottom: 15px;"> 
      <%= link_to content_tag(:i, " Activate New Members", class: "fa fa-user admin-link"), activate_new_members_path, class: "admin-link" %> | 
      <%= link_to content_tag(:i, " Export New Members", class: "fa fa-download admin-link"), members_csv_path(format: :csv), class: "admin-link" %>
    </p>
  <% end %>
</div>

<% if @members.blank? %>
  <div class="center" style="display: contents;"><p>No Members</p></div>
<% else %>
  <p class="center" style="font-weight: normal;">
    <%= "#{new_member_count} New Members |" if new_member_count > 0 %>
    <%= @members.where(status: "I").count %> In House |
    <%= @members.where(status: "O").count %> Out of House |
    <%= @members.where(status: "A").count %> Alumni
    <br>
    <b><%= @members.count %> Total Members</b>
  </p>

  <table>
    <tr>
      <td><b>Member ID</b></td>
      <td><b>First Name</b></td>
      <td><b>Last Name</b></td>
      <td><b>Status</b></td>
      <td><b>Edit</b></td>
      <td><b>Delete</b></td>
    </tr>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.member_id %></td>
        <td><%= member.first %></td>
        <td><%= member.last %></td>
        <td><%= full_status_name(member.status) %></td>
        <td class="center"><%= link_to content_tag(:i, "", class: "fa fa-pencil"),  edit_members_path(id: member.id), style: "color: blue" %></td>
        <td></td>
        <!-- <td class="center"><%#= link_to content_tag(:i, "", class: "fa fa-trash"), members_delete_path(id: member.id), style: "color: red", data: { confirm: "Are you sure you want to delete #{member.full_name}?" } %></td> -->
      </tr>
    <% end %>
  </table>
<% end %>
